# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 57f46bfacf158452b62f077a4b70294aca955edb5a7891ee9685e8760f0e65e9255c93ff860a99a510b6d6135fb3bfdd165829aabf822c07a34d55aa63db9619

test:
  secret_key_base: 1e3b679c463c95c131c19d83476ee883ef97286aef7d24c2b1e6b7dd233219b50197b25dbf01fc8c50fa9d1969fc468c2430f4d54c81b6a5854f8e575db7f31c

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
